flask==3.1.0
numpy==1.26.4
scikit-learn==1.5.2
pandas==2.2.3
scipy==1.13.1
python-dotenv==1.0.1
gunicorn==23.0.0
transformers==4.46.3
torch==2.7.0
torchvision==0.22.0
sentencepiece==0.2.0
openai==1.54.5
flask-socketio==5.4.1
flask-cors==5.0.0
python-socketio==5.11.4
langdetect==1.0.9
deep-translator==1.11.4
ortools==9.11.4210
googlemaps==4.10.0